<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GymnasticsScoreCardPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GymnasticsScoreCardPrinter.Properties.Settings>
            <setting name="IncludeScratched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeIncompleteDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scoreCardTemplateDefault" serializeAs="String">
                <value>HugKissScoreCard.doc</value>
            </setting>
            <setting name="inputFileDefault" serializeAs="String">
                <value>SampleSession.csv</value>
            </setting>
            <setting name="workingDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="savedFileDefaultFormat" serializeAs="String">
                <value>Meet_{0}_SavedFile.csv</value>
            </setting>
            <setting name="savedFileDateFormat" serializeAs="String">
                <value>yyyyMMdd</value>
            </setting>
            <setting name="daysBackToCheckForSavedFile" serializeAs="String">
                <value>3</value>
            </setting>
        </GymnasticsScoreCardPrinter.Properties.Settings>
    </applicationSettings>
</configuration>